.navbar__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10rem;
  margin: auto;
  color: var(--c-white);
  font-size: 2rem;
  align-items: center;
  margin-bottom: var(--s-default);
}

.navbar__subtitle {
  font-size: 0.6rem;
  font-family: var(--font-heading);
  margin-top: -.5rem;
  
}
